---
# Variables for Ansible playbooks and scripts

  # Server addresses
  server:
    # rabbitMQ destination for test results
    collector: amp.example.com
    # Download of YAML schedules
    schedules: amp.example.com
    # Syslog receiver for probe command log
    syslog: amp.example.com

  # RabbitMQ settings
  # Use a local RabbitMQ server to cache results on probe
  useRabbit: true
  # Preferred RabbitMQ port
  rabbitPort: 5671

  # SSH tunnel endpoint for probes
  tunnel:
    # IP address (should be the address of this server)
    IP: 203.0.113.5
    # Fingerprint (output of `ssh-keyscan -t ecdsa` against the above IP address)
    key: "203.0.113.5 ecdsa-sha2-nistp256 AAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBLmw2JjbKMO5LXTcJ67et6TBZeLff1WghM6koKjiHGh+gBbZzHrhDj20MuTxTB1kaTYh7f9T2G/zmhVpFMyUUoQ="

  # Server directories
  # Storing test schedules
  schedDir: /home/amp/a4amp/schedules
  # Storing probe SSH public keys
  keyDir: /home/amp/a4amp/keys

  # email notifications
  email:
    recipients: notify@example.com
    server: smtp.example.com
    user: amp@example.com
    password: secret
    reply: amp@example.com

  # Endpoint stats database (InfluxDB)
  stats:
    server: amp.example.com
    user: probes
    password: secret

  # Failsafe script is executed once every week as root
  # If connection to this server is lost then use to recover probes
  failsafe: http://198.51.100.1/amp/failsafe.sh
  # Suggested content:
    # !/bin/sh
    # # Failsafe script for AMP probes
    # touch /tmp/failsafeOK

  # Custom packages URL
  # Base URL where custom packages are located (no trailing slash)
  packagesURL: http://amp.example.com/packages

  # Preferred speedtest servers
  # Command line flags to use with speedtest.py (or leave blank)
  ooklaServers: --server 4954

  # Command history
  # Shell  commands to add to history of all users for convenience
  cmdHistory:
    - sudo amp-throughput -d 2 --cacert /etc/amplet2/keys/{{ server.collector }}.pem --cert /etc/amplet2/keys/{{ inventory_hostname }}/{{ server.collector }}.cert --key /etc/amplet2/keys/{{ inventory_hostname }}/key.pem -- {{ location2endpoint[0][location] | default(location2endpoint[0].default) }}
    - wget --report-speed=bits -O /dev/null http://{{ location2endpoint[0][location] | default(location2endpoint[0].default) }}/50MB.bin
    - iperf3 -R -c {{ location2endpoint[0][location] | default(location2endpoint[0].default) }}
    - speedtest {{ ooklaServers }} --socket
    - web100clt -n ndt-iupui-mlab1-akl01.measurement-lab.org
    - mtr -rwbc5 www.trademe.co.nz
    - curl ipboomhauer.com
    - sudo tcpdump -i {{ ansible_default_ipv4.interface }} port not ssh

  # Endpoints - dummy replacements
  # 'label' is used in the Ansible output for a more meaningful display
  # 'regex' is the text that will be replaced, and should match the sitename in AMPweb
  # 'default' is the endpoint used if a location hasn't been set
  # One or more probe-specific mappings
  probe2endpoint:
    - label: BNG
      regex: dummy-bng-nearest
      default: akl.amp.example.com
  # One or more mappings from location to and endpoint
  # Default from the first one in the list is used for speedtests
  location2endpoint:
    # Edge endpoint mapped according to location
    - label: Edge
      regex: dummy-edge-nearest
      default: chc.amp.example.com
      'Northland': akl.amp.example.com
      'Auckland': akl.amp.example.com
      'Waikato': akl.amp.example.com
      'Bay of Plenty': akl.amp.example.com
      'Gisborne': akl.amp.example.com
      "Hawke's Bay": akl.amp.example.com
      'Taranaki': akl.amp.example.com
      'Manawatu-Wanganui': wlg.amp.example.com
      'Wellington': wlg.amp.example.com
      'Tasman': wlg.amp.example.com
      'Nelson': wlg.amp.example.com
      'Marlborough': wlg.amp.example.com
      'West Coast': chc.amp.example.com
      'Canterbury': chc.amp.example.com
      'Otago': chc.amp.example.com
      'Southland': chc.amp.example.com

  # Probe groups
  # Group name, regex and variables used for creating Ansible groups
  # Useful for output of the 'probes' command and running ad-hoc Ansible commands
  # The regex will match the probe name, location or any of extra data.
  # Format is one of the following:
  #   'groupname': 'regex match'
  #   'groupname': ['regex match', vars]
  # eg, to set python version for all probes:
  #   'all': ['', ansible_python_interpreter=/usr/bin/python3]
  ansibleGroups:
    'Fixed': 'DSL|UFB'
    'Edge': '^internet'
    'Auckland': 'Auckland'
    'Wellington': 'Wellington'
    'Canterbury': 'Canterbury'
    'HW-NUC': 'NUC'
    'HW-Odroid': 'Odroid'
    'all': ['', ansible_python_interpreter=/usr/bin/python3]
